# PlantGrowth Project

First, let's import the dataset and take a look at the data!

In [7]:
import pandas as pd

plant_data = pd.read_csv('data_files/PlantGrowth.csv')

plant_data.head()

   rownames  weight group
0         1    4.17  ctrl
1         2    5.58  ctrl
2         3    5.18  ctrl
3         4    6.11  ctrl
4         5    4.50  ctrl

Now let's also look at some stats of the data.

In [8]:
plant_data.describe()

        rownames     weight
count  30.000000  30.000000
mean   15.500000   5.073000
std     8.803408   0.701192
min     1.000000   3.590000
25%     8.250000   4.550000
50%    15.500000   5.155000
75%    22.750000   5.530000
max    30.000000   6.310000